body{
  background-color: rgb(214, 211, 212);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  margin: auto;
  border-top: solid 10px rgb(241, 116, 241);
  border-radius: 5px;
  background-color: rgba(252, 229, 246, 0.849);
  max-width: 400px;
  max-height: fit-content;
  margin-top: 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: rgb(112, 75, 75);
}
.container h3{
  margin-bottom: 2rem;
}
.container h2{
  padding-top: 10px;
}
button{
  background-color: fuchsia;
  width: 80%;
  height: 7vh;
  border: none;
  outline-style: none;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(240, 7, 162, 0.315) 0px 16px 56px, 
  rgba(247, 2, 226, 0.281) 0px 24px 80px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
button:hover{
  background-color: rgba(88, 81, 81, 0.575);
  transition-duration: 0.5s;
  
}
img{
  margin-left: 30px;
  padding: 5px;
 width: 65px;
 height: 65px;
 object-fit: cover;
 border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
h4,p{
  display: block;
}
.person{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center; 
}
.person.h4{
  margin-bottom: 0.3rem;
}
hr{
width: 50%;
border: solid 1px rgba(114, 2, 114, 0.452);
border-radius: 10px;
}
