body{
  background-color: rgb(240, 104, 149);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  background-color: papayawhip;
  max-width: 400px;
  max-height: fit-content;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: rgb(112, 75, 75);
}
.container h3{
  margin-bottom: 2rem;
}
.container h2{
  margin-top: 30px;
}
button{
  background-color: fuchsia;
  width: 80%;
  height: 7vh;
  border: none;
  outline-style: none;
  color: aliceblue;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);

}
button:hover{
  background-color: rgba(88, 81, 81, 0.575);
  transition-duration: 0.5s;
  
}
img{
  margin-left: 30px;
  padding: 5px;
 width: 75px;
 height: 75px;
 object-fit: cover;
 border-radius: 50%;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
h4,p{
  display: block;
}
.person{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center; 
}
.person.h4{
  margin-bottom: 0.3rem;
}